@use "../abstracts/" as *;
.wrapper {
   max-width: 1440px;
   margin: 0 auto;
   background-color: inherit;
   display: grid;
   grid-template-columns: 256px minmax(0, 1fr);
   min-height: 100vh;
}
.main-container {
   padding: 30px 60px 30px 56px;
   container-type: inline-size;
   container-name: mainContainer;
}
@media screen and (max-width: 1279.98px) {
   .wrapper {
      grid-template-columns: 1fr;
      padding-bottom: 80px;
   }
   .main-container {
      padding: 10px 24px;
   }
}
