extends ./views/layout/_dashboard
block title
    title GoCashUI - HomePage
append stylesheet 
    link(rel="stylesheet", href="./styles/home.css")
block main  
    .home-wrapper
        .home-left
            include ./views/module/home/_popular-host
        .home-right 