@use "../../abstracts" as abst;
.feed {
   &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      container-type: inline-size;
      container-name: feedHeading;
   }
   &-tab {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      font-weight: 500;
      color: abst.$text-gray1;
      padding: 10px;
      &-item {
         padding: 10px;
         border-bottom: 1px solid abst.$Bg3;
         cursor: pointer;
         &.active {
            font-weight: 600;
            color: abst.$primary-color;
            border-bottom: 1px solid currentColor;
         }
      }
   }
   &-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      p {
         font-weight: 500;
         color: abst.$text-gray1;
      }
   }

   &-item {
      margin-top: 30px;
      border: 1px solid abst.$gray-natural2;
      border-radius: 10px;
      &-header {
         padding: 20px 20px 12px;
         position: relative;
         .feed-icon_more {
            position: absolute;
            top: 20px;
            right: 20px;
         }
      }
      &-main {
         border-bottom: 1px solid abst.$gray-natural2;
         border-top: 1px solid abst.$gray-natural2;
         position: relative;
         padding: 20px 20px 27px;
         display: flex;
         align-items: flex-start;
         flex-direction: row;
         gap: 20px;
      }
      &-footer {
         padding: 20px;
         display: flex;
         justify-content: space-between;
         &-interact {
            display: flex;
            align-items: center;
            gap: 19px;
         }
      }
   }
   &-main {
      container-type: inline-size;
      container-name: feedMain;
   }
   &-author {
      display: flex;
      &-avatar {
         position: relative;
         width: 48px;
         height: 56px;
         margin-right: 16px;
      }
      &-image {
         width: 48px;
         height: 48px;
         border-radius: 100rem;
      }
      &-icon_veryfi {
         position: absolute;
         right: 0;
         bottom: 2px;
      }

      &-content {
         font-weight: 500;
      }
      &-title {
         display: flex;
         gap: 2px;
         margin-bottom: 4px;
      }
      &-ratting {
         color: #a6a7b2;
         display: flex;
         gap: 10px;
         align-items: center;
         img {
            height: 12px;
         }
      }
   }
   &-date {
      font-weight: 400;
      color: abst.$text-gray2;
   }
   &-image {
      flex: 0 0 152px;
      // aspect-ratio: 1;
      height: 152px;
      img {
         width: 100%;
         height: 100%;
         border-radius: 10px;
         object-fit: cover;
      }
   }
   &-content {
      &-podcast {
         color: abst.$text-gray2;
         margin-bottom: 6px;
      }
      &-heading {
         font-weight: 500;
         color: abst.$text-black1;
         margin-bottom: 12px;
      }
      &-time {
         display: flex;
         align-items: center;
         margin-bottom: 16px;
         color: abst.$text-gray2;
         gap: 10px;
         & > * {
            display: flex;
            align-items: center;
            gap: 4px;
         }
      }
      &-desc {
         line-height: 1.46;
         font-size: 13px;
         line-height: 19px;
         color: abst.$black1;
         // font-weight: 500;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         word-break: break-word;
      }
   }
   &-icon_share {
      position: absolute;
      top: 20px;
      right: 20px;
   }
   @container feedHeading (max-width: 490px) {
      &-toggle p {
         display: none;
      }
      &-item {
         &-main {
            flex-direction: column;
         }
      }
   }
   @container feedHeading (max-width: 539.5px) {
      &-toggle p {
         font-size: 12px;
         font-weight: 600;
      }
   }
   @container feedMain (max-width: 490px) {
      &-author {
         &-title {
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin-bottom: 2px;
         }
         &-ratting {
            gap: 4px;
         }
      }
      &-item {
         &-main {
            flex-direction: column;
            padding: 16px;
            gap: 16px;
         }
      }
      &-icon_share {
         display: none;
      }
      &-image {
         width: 100%;
      }
   }
}
