svg(xmlns="http://www.w3.org/2000/svg", space="preserve", width="512px", height="512px", version="1.1", style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd", viewBox="0 0 512 512", xlink="http://www.w3.org/1999/xlink")
  defs
    style(type="text/css")     .fil1 {fill:#F2AC06;fill-rule:nonzero}    .fil0 {fill:#FF4F19;fill-rule:nonzero}    .fil2 {fill:#FFD200;fill-rule:nonzero}   
  g#Layer_x0020_1
    metadata#CorelCorpID_0Corel-Layer
    g#_599173896
      path.fil0(d="M208 512c-4,0 -6,-2 -8,-5l-24 -73 -56 52c-2,2 -6,2 -9,1 -2,-2 -4,-5 -3,-9l45 -167c0,-3 5,-6 8,-5 18,6 -17,2 89,37 3,1 6,5 5,9l-42 154c1,4 -2,6 -5,6 0,0 0,0 0,0z")
      path.fil0(d="M305 512c0,0 0,0 0,0 -3,0 -6,-2 -7,-5l-41 -155c-2,-4 1,-8 5,-9 3,-1 85,-36 89,-37 4,-1 8,2 9,5l44 167c1,4 0,7 -3,9 -3,1 -6,1 -9,-1l-56 -52 -24 73c-1,3 -3,5 -7,5z")
      path.fil1(d="M256 361c-1,0 -2,0 -3,-1l-61 -25 -61 -25c-2,-1 -3,-2 -4,-4l-25 -61 -25 -61c-1,-2 -1,-4 0,-6l25 -61 25 -61c1,-2 2,-3 4,-4l62 -25 60 -26c2,-1 4,-1 6,0l61 25 61 25c2,1 3,2 4,4l25 61 25 61c1,2 1,4 0,5l-25 62 -25 61c-1,1 -2,3 -4,4l-61 25 -61 25c-1,1 -2,2 -3,2z")
      path.fil2(d="M256 335c-1,0 -2,0 -2,0l-53 -22 -52 -22c-2,0 -3,-1 -4,-3l-21 -52 -22 -53c-1,-1 -1,-3 0,-4l22 -53 21 -52c1,-2 2,-3 4,-4l53 -21 52 -23c1,-1 3,-1 4,0l53 22 52 21c2,1 3,2 4,3l21 53 22 53c1,1 1,3 0,4l-22 53 -21 52c-1,2 -2,3 -4,3l-52 22 -53 22c0,1 -1,1 -2,1z")
      path.fil1(d="M256 305c-4,0 -7,-3 -7,-7 0,-4 3,-7 7,-7 61,0 111,-50 111,-111 0,-4 3,-7 7,-7 4,0 7,3 7,7 0,69 -56,125 -125,125zm-117 -118c-4,0 -7,-3 -7,-7 0,-69 56,-124 124,-124 4,0 7,3 7,6 0,4 -3,7 -7,7 -61,0 -111,50 -111,111 0,4 -3,7 -6,7z")
      path.fil0(d="M307 266c-1,0 -2,-1 -3,-1l-48 -35 -47 35c-2,1 -5,1 -8,0 -2,-2 -3,-5 -2,-8l18 -56 -47 -34c-2,-2 -3,-4 -2,-7 0,-3 3,-5 6,-5 0,0 0,0 0,0l59 1 17 -56c1,-3 3,-5 6,-5 0,0 0,0 0,0 3,0 5,2 6,5l19 56 58 -1c0,0 0,0 0,0 3,0 5,2 6,5 1,2 0,5 -2,7l-48 34 19 56c0,3 0,6 -3,8 -1,0 -2,1 -4,1z")