@use "../abstracts" as abst;
body {
  font-family: abst.$font-primary;
  color: abst.$text-black1;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.47;
}
.heading {
  color: abst.$text-black1;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 18px;
}
