@use "../abstracts" as abst;
body {
   font-family: abst.$font-primary;
   color: abst.$text-black1;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 600;
}
