mixin menuItem(text, icon = '', href = "#")
	li.menu-item 
		a.menu-link(href= href)
			span.menu-icon
				if icon
					case icon
						when 'icon-home'
								include ../icons/_icon-home
						when 'icon-dashboard'
								include ../icons/_icon-dashboard
						when 'icon-expl'
								include ../icons/_icon-expl
						when 'icon-leaderboard'
								include ../icons/_icon-leaderboard
						when 'icon-mic'
								include ../icons/_icon-mic
						when 'icon-playlist'
								include ../icons/_icon-playlist
						when 'icon-sub_er'
								include ../icons/_icon-sub_er
						when 'icon-sub'
								include ../icons/_icon-sub
						when 'icon-team'
								include ../icons/_icon-team
						when 'icon-trending'
								include ../icons/_icon-trending    
			span.menu-text= text 

mixin toggle
	label.toggle     
		input(type="checkbox").toggle-input
		.toggle-main
			.toggle-spinner

mixin button(icon= false, title= "Play Now") 
	button.button.button--primary.feed-button
		if icon 
			include ../icons/_icon-playlist
		span= title


mixin feedItem 
	.feed-item 
		.feed-item-header
			.feed-author
				.feed-author-avatar 	
					img.feed-author-image(srcSet="./images/img-feed-avatar.png 2x", alt="feed-avatar")
					span.feed-author-icon_veryfi 
						include ../icons/_icon-veryfi
				.feed-author-content
					.feed-author-title
						h4.feed-author-name James Killened
						.feed-author-ratting
							span rated an episude
							img(srcSet="./images/img-feed-ratting.png 2x", alt="feed-ratting")
					.feed-date Jun 25th
			span.feed-icon_more
				include ../icons/_icon-more
		.feed-item-main
			.feed-image 
				img(srcSet="./images/img-feed-content.png 2x", alt="img-feed-content")
				//- img(srcSet="./images/img-feed-content.png 2x", alt="img-feed-content")
			.feed-content
				.feed-content-podcast Perspective Podcast (Ep. 1)
				h3.feed-content-heading Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik
				.feed-content-time 
					.feed-content-time-posting 	
						include ../icons/_icon-clock
						span 11 dayes ago
					.feed-content-time-length 	
						include ../icons/_icon-hourglass
						span 45mins 10 Sec
				.feed-content-desc Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a(href="/").feed-icon_share 
				include ../icons/_icon-share
		.feed-item-footer
			.feed-item-footer-interact 
				include ../icons/_icon-heart
				include ../icons/_icon-star
				include ../icons/_icon-song_playlist
			.feed-item-footer-button 
				+button(true, "Play Episode")
			

mixin widgetHeader(heading = "Top 8 Podcast", url="#")
	.widget-header
		h3.widget-heading.heading= heading
		a.widget-view-all(href=url) View all

mixin followItem()
	.follow-item 
		.follow-item-user 
			.follow-item-user-avatar
				img(srcSet="./images/img-follow1.png 2x", alt="img-follow") 
			.follow-item-user-info
				h4.follow-item-user-name Yahia Amin
				p.follow-item-user-username @yahiamdamin
		.follow-item-button 
			+button(false, "Follow")


	
mixin listenItem(url = "./images/img-listen1.png")
	.listen-item 
		.listen-item-image 
			img(srcSet="https://images.unsplash.com/photo-1683009427037-c5afc2b8134d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60 2x", alt="img-listen")
		.listen-item-content 
			p.listen-item-title Perspective with Yahia Amin
			h3.listen-item-heading Don't Always Win | LifeSpring
			.listen-interact
				.listen-interact-item
					include ../icons/_icon-playlist
					span.listen-interact-count 156
				.listen-interact-item
					include ../icons/_icon-heart
					span.listen-interact-count 78

mixin topicItem()
	.topic-item 
		.topic-item-image 
			img(srcSet="./images/img-topic1.png 2x", alt="img-topic")
			.topic-item-image-shadow
		.topic-item-content 
			h3.topic-item-heading 🎨Society & Culture
			span.topic-item-podcastCount 761k podcast

