mixin menuItem(text, icon = '', href = "#")
    li.menu-item 
        a.menu-link(href= href)
            span.menu-icon
                if icon
                    case icon
                        when 'icon-home'
                            include ../icons/_icon-home
                        when 'icon-dashboard'
                            include ../icons/_icon-dashboard
                        when 'icon-expl'
                            include ../icons/_icon-expl
                        when 'icon-leaderboard'
                            include ../icons/_icon-leaderboard
                        when 'icon-mic'
                            include ../icons/_icon-mic
                        when 'icon-playlist'
                            include ../icons/_icon-playlist
                        when 'icon-sub_er'
                            include ../icons/_icon-sub_er
                        when 'icon-sub'
                            include ../icons/_icon-sub
                        when 'icon-team'
                            include ../icons/_icon-team
                        when 'icon-trending'
                            include ../icons/_icon-trending
            span.menu-text= text 