.navigation    
   .navigation-item
      include ../icons/_icon-menu
   .navigation-item
      include ../icons/_icon-search
   button.navigation-upload
      img(src="./images/icons/icon-upload.svg", alt="upload").navigation-item
   .navigation-item
      include ../icons/_icon-message
   .navigation-item
      include ../icons/_icon-notification