*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  --primary-h: 248;
  --primary-s: 57%;
  --primary-l: 60%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #1c1e22;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.heading {
  --mb: 18px;
  color: #1b1d21;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--mb);
}

.widget {
  margin-bottom: 40px;
}
.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.widget-heading {
  --mb: 0;
  font-size: 16px;
  font-weight: 600;
}
.widget-view-all {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  color: #a5a6b1;
}

:root {
  ---bgc-body: white;
  --color-heading: abst.$black1;
  --color-menu: #8494ab;
  --color-boder-menu: abst.$gray-natural2;
  --color-boder-menu: #f0f3f6;
  --bgc-search: abst.$gray-natural2;
  --color-host-name: abst.$text-gray1;
  --bgc-banner: abst.$gray-natural1;
  --color-trending-title: abst.$text-black1;
  --color-trending-podcast: abst.$gray-natural;
  --color-trending-author-name: abst.$primary-black;
}

body {
  background-color: var(---bgc-body);
}

.topbar {
  background-color: var(---bgc-body);
}
.topbar .search {
  background-color: var(--bgc-search);
}

.sidebar {
  background-color: var(---bgc-body);
  border-right: 1px solid var(--color-boder-menu);
}
.sidebar .menu-link {
  color: var(--color-menu);
}
.sidebar .menu:not(:last-child)::after {
  background-color: var(--color-boder-menu);
}

.heading {
  color: var(--color-heading);
}

.feed-author-name {
  color: var(--color-heading);
}
.feed-item {
  border: 1px solid var(--color-boder-menu);
}
.feed-item-main {
  border-bottom: 1px solid var(--color-boder-menu);
  border-top: 1px solid var(--color-boder-menu);
}
.feed-content-heading, .feed-content-desc {
  color: var(--color-trending-title);
}

.host-name {
  color: var(--color-host-name);
}

.trending-banner {
  background-color: var(--bgc-banner);
}
.trending-title {
  color: var(--color-trending-title);
}
.trending-podcast {
  color: var(--color-trending-podcast);
}
.trending-author {
  color: var(--color-trending-author-name);
}
.trending-author span {
  color: var(--color-trending-podcast);
}

.listen-item-heading {
  color: var(--color-trending-title);
}

.follow-item-user-name {
  color: var(--color-trending-title);
}
.follow-item-user-avatar {
  box-shadow: 0 0 0 2px var(---bgc-body), 0 0 0 3px pink;
}

@media (prefers-color-scheme: dark) {
  :root {
    ---bgc-body: #242731;
    --color-heading: white;
    --color-menu: #ababad;
    --bgc-search: #373a43;
    --color-boder-menu: #373a43;
    --color-host-name: #e4e4e4;
    --bgc-banner: #050f16;
    --color-trending-title: white;
    --color-trending-podcast: #a6a7b2;
    --color-trending-author-name: white;
  }
}
.button {
  --gap: 10px;
  --padding: 8px 14px;
  --fw: 600;
  font-size: 15px;
  line-height: 1.47;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
  font-weight: var(--fw);
  border-radius: 8px;
}
.button--primary {
  background-color: #6e5fd3;
  color: #fcfcfc;
}

.toggle-main {
  width: 30px;
  height: 17px;
  border-radius: 100rem;
  background-color: #a5a6b1;
  padding: 1.5px 2px;
  cursor: pointer;
}
.toggle-input {
  display: none;
}
.toggle-input:checked + .toggle-main .toggle-spinner {
  transform: translateX(12px);
}
.toggle-input:checked + .toggle-main {
  background: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
}
.toggle-spinner {
  width: 14px;
  height: 14px;
  border-radius: 100rem;
  background-color: #f8f8f8;
  transition: all linear 0.2s;
}

.sidebar {
  padding: 48px 30px;
}
@media screen and (max-width: 1279.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 2;
    transform: translateX(-100%);
  }
}

.logo {
  display: block;
  margin-bottom: 44px;
}

.menu {
  display: flex;
  gap: 6px;
  --gap: 26px;
  flex-direction: column;
}
.menu:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  margin-block: var(--gap);
}
.menu-heading {
  font-size: 13px;
  line-height: 1.46;
  color: #8393aa;
  margin-bottom: 10px;
  padding-left: 20px;
}
.menu-icon {
  flex: 0 0 24px;
}
.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  border-radius: 12px;
  width: 196px;
  height: 40px;
  padding: 8px 30px 8px 20px;
}
.menu-link:hover {
  background: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  color: white;
}
.menu-link:hover [fill^="#E5"] {
  fill: #fff;
  opacity: 1;
}
.menu-link:hover [fill^="#A5"] {
  mix-blend-mode: normal;
  fill: hsl(var(--primary-h), calc(var(--primary-s) + 1%), calc(var(--primary-l) + 16%));
}

.topbar {
  padding: 24px 60px 24px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.topbar-right > * {
  flex-shrink: 0;
}

.button-upload {
  height: 48px;
  --gap: 6px;
  --padding: 12px 16px;
}

.profile {
  display: block;
  width: 48px;
  height: 48px;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}

.search {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  flex: 0 1 360px;
  gap: 12px;
  background-color: #f0f3f6;
  border-radius: 12px;
}
.search-input {
  flex: 1;
  border: none;
  color: #6e5fd3;
  font-weight: 500;
  caret-color: #6e5fd3;
}
.search-input::-webkit-input-placeholder {
  color: #a5a6b1;
}
.search-input::-moz-input-placeholder {
  color: #a5a6b1;
}

@media screen and (min-width: 1280px) {
  .topbar-logo {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .search,
  .button-upload {
    display: none;
  }
  .topbar {
    padding: 20px 24px;
  }
  .topbar-logo {
    display: inline-block;
  }
  .topbar-logo img {
    width: 100%;
  }
  .topbar-action {
    display: none;
  }
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: inherit;
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
  min-height: 100vh;
}

.main-container {
  padding: 30px 60px 30px 56px;
  container-type: inline-size;
  container-name: mainContainer;
}

@media screen and (max-width: 1279.98px) {
  .wrapper {
    grid-template-columns: 1fr;
    padding-bottom: 80px;
  }
  .main-container {
    padding: 10px 24px;
  }
}
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #fff;
  width: 100%;
}
.navigation-item {
  padding: 10px;
}
.navigation-upload {
  background-color: #6e5fd3;
  border-radius: 100rem;
}
@media screen and (min-width: 1280px) {
  .navigation {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
