:root {
  --primary-h: 248;
  --primary-s: 57%;
  --primary-l: 60%;
}

.host {
  padding-bottom: 28px;
}
.host-heading {
  color: hsl(220, 10%, 12%);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.host-list {
  --gap-item: 12px;
  display: flex;
  gap: var(--gap-item);
  align-items: flex-start;
  justify-content: space-between;
}
.host-item {
  --gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.host-avatar {
  --avatar-size: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100rem;
  background-color: #ffbaa5;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ffabc6;
}
.host-name {
  color: hsl(216, 3%, 38%);
}
@media screen and (min-width: 768px) {
  .host-list {
    --gap-item: 31px;
  }
  .host-item {
    --gap: 7px;
  }
  .host-avatar {
    --avatar-size: 70px;
  }
}

.trending {
  padding-top: 20px;
  padding-bottom: 36px;
  container-type: inline-size;
  container-name: trending;
}
.trending-heading {
  --mb: 11px;
}
.trending-banner {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px 22px 22px 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
}
@container trending (max-width: 630px) {
  .trending-banner {
    overflow: hidden;
  }
}
.trending-content {
  flex: 0 0 310px;
}
@container trending (max-width: 630px) {
  .trending-content {
    flex: 1;
  }
}
.trending-title {
  font-size: 22px;
  line-height: 1.45;
  color: hsl(220, 10%, 12%);
  margin-bottom: 11px;
}
.trending-title span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
}
.trending-padcast {
  color: #676a6f;
  margin-bottom: 4px;
}
.trending-author {
  color: #232333;
  margin-bottom: 20px;
}
.trending-author span {
  color: #676a6f;
}
.trending-circle, .trending-vector {
  position: absolute;
}
.trending-vector {
  top: 36px;
  right: 74px;
}
.trending-circle {
  left: 350px;
  top: 121px;
}
.trending-image {
  position: absolute;
  bottom: 0;
  right: 15px;
  max-width: 332px;
}
@container trending (max-width: 630px) {
  .trending-image {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .trending-vector {
    top: 69px;
    right: 22px;
  }
  .trending-circle {
    width: 109px;
    height: 109px;
    left: 203px;
    top: 158px;
  }
  .trending-button {
    --padding: 9px 14px;
  }
  .trending-author {
    margin-bottom: 21px;
  }
  .trending-padcast {
    margin-bottom: 6px;
  }
  .trending-title {
    margin-bottom: 7px;
  }
}

.feed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: feed-heading;
}
.feed-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  color: hsl(216, 3%, 38%);
  padding: 10px;
}
.feed-tab-item {
  padding: 10px;
  border-bottom: 1px solid #373a43;
  cursor: pointer;
}
.feed-tab-item.active {
  font-weight: 600;
  color: hsl(248, 57%, 60%);
  border-bottom: 1px solid currentColor;
}
.feed-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.feed-toggle p {
  font-weight: 500;
  color: hsl(216, 3%, 38%);
}
@container feed-heading (max-width: 490px) {
  .feed-toggle p {
    display: none;
  }
}
@container feed-heading (max-width: 539.5px) {
  .feed-toggle p {
    font-size: 12px;
    font-weight: 600;
  }
}

.home-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

/*# sourceMappingURL=home.css.map */
