:root {
  --primary-h: 248;
  --primary-s: 57%;
  --primary-l: 60%;
}

.host {
  padding-bottom: 28px;
}
.host-heading {
  color: #1c1e22;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.host-list {
  --gap-item: 12px;
  display: flex;
  gap: var(--gap-item);
  align-items: flex-start;
  justify-content: space-between;
}
.host-item {
  --gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.host-avatar {
  --avatar-size: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100rem;
  background-color: #ffbaa5;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ffabc6;
}
.host-name {
  color: #5e6064;
}
@media screen and (min-width: 768px) {
  .host-list {
    --gap-item: 31px;
  }
  .host-item {
    --gap: 7px;
  }
  .host-avatar {
    --avatar-size: 70px;
  }
}

.trending {
  padding-top: 20px;
  padding-bottom: 36px;
  container-type: inline-size;
  container-name: trending;
}
.trending-heading {
  --mb: 11px;
}
.trending-banner {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px 22px 22px 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
}
@container trending (max-width: 630px) {
  .trending-banner {
    overflow: hidden;
  }
}
.trending-content {
  flex: 0 0 310px;
}
@container trending (max-width: 630px) {
  .trending-content {
    flex: 1;
  }
}
.trending-title {
  font-size: 22px;
  line-height: 1.45;
  color: #1c1e22;
  margin-bottom: 11px;
}
.trending-title span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
}
.trending-padcast {
  color: #676a6f;
  margin-bottom: 4px;
}
.trending-author {
  color: #232333;
  margin-bottom: 20px;
}
.trending-author span {
  color: #676a6f;
}
.trending-circle, .trending-vector {
  position: absolute;
}
.trending-vector {
  top: 36px;
  right: 74px;
}
.trending-circle {
  left: 350px;
  top: 121px;
}
.trending-image {
  position: absolute;
  bottom: 0;
  right: 15px;
  max-width: 332px;
}
@container trending (max-width: 630px) {
  .trending-image {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .trending-vector {
    top: 69px;
    right: 22px;
  }
  .trending-circle {
    width: 109px;
    height: 109px;
    left: 203px;
    top: 158px;
  }
  .trending-button {
    --padding: 9px 14px;
  }
  .trending-author {
    margin-bottom: 21px;
  }
  .trending-padcast {
    margin-bottom: 6px;
  }
  .trending-title {
    margin-bottom: 7px;
  }
}

.feed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: feedHeading;
}
.feed-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  color: #5e6064;
  padding: 10px;
}
.feed-tab-item {
  padding: 10px;
  border-bottom: 1px solid #373a43;
  cursor: pointer;
}
.feed-tab-item.active {
  font-weight: 600;
  color: #6e5fd3;
  border-bottom: 1px solid currentColor;
}
.feed-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.feed-toggle p {
  font-weight: 500;
  color: #5e6064;
}
.feed-item {
  margin-top: 30px;
  border: 1px solid #f0f3f6;
  border-radius: 10px;
}
.feed-item-header {
  padding: 20px 20px 12px;
  position: relative;
}
.feed-item-header .feed-icon_more {
  position: absolute;
  top: 20px;
  right: 20px;
}
.feed-item-main {
  border-bottom: 1px solid #f0f3f6;
  border-top: 1px solid #f0f3f6;
  position: relative;
  padding: 20px 20px 27px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}
.feed-item-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.feed-item-footer-interact {
  display: flex;
  align-items: center;
  gap: 19px;
}
.feed-main {
  container-type: inline-size;
  container-name: feedMain;
}
.feed-author {
  display: flex;
}
.feed-author-avatar {
  position: relative;
  width: 48px;
  height: 56px;
  margin-right: 16px;
}
.feed-author-image {
  width: 48px;
  height: 48px;
  border-radius: 100rem;
}
.feed-author-icon_veryfi {
  position: absolute;
  right: 0;
  bottom: 2px;
}
.feed-author-content {
  font-weight: 500;
}
.feed-author-title {
  display: flex;
  gap: 2px;
  margin-bottom: 4px;
}
.feed-author-ratting {
  color: #a6a7b2;
  display: flex;
  gap: 10px;
  align-items: center;
}
.feed-author-ratting img {
  height: 12px;
}
.feed-date {
  font-weight: 400;
  color: #a5a6b1;
}
.feed-image {
  flex: 0 0 152px;
  height: 152px;
}
.feed-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.feed-content-podcast {
  color: #a5a6b1;
  margin-bottom: 6px;
}
.feed-content-heading {
  font-weight: 500;
  color: #1c1e22;
  margin-bottom: 12px;
}
.feed-content-time {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #a5a6b1;
  gap: 10px;
}
.feed-content-time > * {
  display: flex;
  align-items: center;
  gap: 4px;
}
.feed-content-desc {
  line-height: 1.46;
  font-size: 13px;
  line-height: 19px;
  color: #1b1d21;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.feed-icon_share {
  position: absolute;
  top: 20px;
  right: 20px;
}
@container feedHeading (max-width: 490px) {
  .feed-toggle p {
    display: none;
  }
  .feed-item-main {
    flex-direction: column;
  }
}
@container feedHeading (max-width: 539.5px) {
  .feed-toggle p {
    font-size: 12px;
    font-weight: 600;
  }
}
@container feedMain (max-width: 490px) {
  .feed-author-title {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 2px;
  }
  .feed-author-ratting {
    gap: 4px;
  }
  .feed-item-main {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
  .feed-icon_share {
    display: none;
  }
  .feed-image {
    width: 100%;
  }
}

.home-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

/*# sourceMappingURL=home.css.map */
