.feed 
	.feed-header 
		.feed-tab 
			each tab, index in ["My Feed", "Poplar Feed", "Recent"]
					.feed-tab-item(class= `${index === 0 ? 'active' : ''}`   )= tab 
		.feed-toggle
			+toggle
			p New Releases &amp; Guests Only
	.feed-main  
		.feed-item 
			.feed-item-header
				.feed-author
					.feed-author-avatar 	
						img.feed-author-image(srcSet="./images/img-feed-avatar.png 2x", alt="feed-avatar")
						span.feed-author-icon_veryfi 
							include ../../icons/_icon-veryfi
					.feed-author-content
						.feed-author-title
							h4.feed-author-name James Killened
							.feed-author-ratting
								span rated an episude
								img(srcSet="./images/img-feed-ratting.png 2x", alt="feed-ratting")
						.feed-date Jun 25th
				span.feed-icon_more
					include ../../icons/_icon-more	
			.feed-item-main
				.feed-image 
					img(srcSet="./images/img-feed-content.png 2x", alt="img-feed-content")
				.feed-content
					.feed-content-postcad Perspective Podcast (Ep. 1)
					h3.feed-content-heading Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik

					
			.feed-item-footer